{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Todo App</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>

{% include 'navbar.html' %}

{% if messages %}
{% for message in messages %}
    <div class="alert {% if message.tags == 'success' %} alert-success
                      {% else %} alert-danger {% endif %}">
        
            <li>{{message}}</li> 
           
    </div>
    {% endfor %}

{% endif %}


{% block content %}

{% endblock %}


</body>
</html>
