{% extends 'main.html' %}

{% block content %}

<div id="todo-app">
	<h1>Todo List</h1>

	<form action="" method="post">
		{% csrf_token %}
		{{form.task}}
		<button id="add-todo">Add Todo</button>
	</form>

	<ul id="todo-list">
		<!-- Each task item will have a wrapper div and buttons for editing and deleting -->
		{% for todo in todos %}
		<li>
			<div class="task-item">
			<span>{{todo.task}}</span>
	
				<div class="button-container">
					<a href="{% url 'updateToDo' todo.id %}" class="edit-link">Edit</a>
					<a href="{% url 'deleteToDo' todo.id %}" class="delete-link">Delete</a>
				</div>
		
			</div>
		</li>
		{% endfor %}

	</ul>
</div>

{% endblock %}